# FILE: devcontainer.env.example
#
# DESCRIPTION:
# This file serves as a template for `devcontainer.env`. Copy this file to
# `devcontainer.env` before starting the devcontainer for the first time.
#
# NOTE: The UID, GID, USERNAME, and GROUPNAME are dynamically overwritten by
# `initialize.sh` on startup. The values here are fallbacks.
#
# Version: 2025-09-13 22:45:00 AEST

UID=1000
GID=1000
USERNAME=vscode
GROUPNAME=vscode

AGE_KEY_PROVIDER=file
SOPS_AGE_KEY_FILE=/workspaces/${localWorkspaceFolderBasename:-devspace}/.devcontainer/runtime/age.key

AGE_PRIVATE_KEY=
LOCAL_GNUPG_DIR=