# FILE: devcontainer.env.example
# DESCRIPTION:
# This is an example of the .devcontainer/devcontainer.env file. In a fresh
# clone, you can copy this file to .devcontainer.env to get started.
# NOTE: UID and GID will be overwritten dynamically by the initialize.sh script
# to match your host user.
# Version: 2025-09-12 15:00:00 AEST
UID=1000
GID=1000
USERNAME=vscode
AGE_KEY_PROVIDER=file
AGE_PRIVATE_KEY=
LOCAL_GNUPG_DIR=